/JavaApplication12/dist/
/TP_Practica1/dist/
/TP_Practica1/build/
/build/
/dist/
/practica1_TP-main/TP_Practica1/build/
/practica1_TP-main/TP_Practica1/nbproject/private/
/practica1_tp_Nicolas_Pascual_Alex_Marques_v1_proyecto/build/
/practica1_tp_Nicolas_Pascual_Alex_Marques_v1_proyecto/dist/
/practica1_tp_Nicolas_Pascual_Alex_Marques_v1_proyecto/nbproject/private/
